@media screen and (min-height : 800px) {
    [is = sparql-textarea] {
        height: 200px
    }

        [is = sparql-textarea] + textarea {
            height: 80px
        }
}

@media screen and (max-height : 800px) {
    [is = sparql-textarea] {
        height: 100px
    }

        [is = sparql-textarea] + textarea {
            height: 50px
        }
}

body {
    margin: 0;
    min-width: 320px;
}

[is = app-main] {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

[is = blockly-section] {
    flex-grow: 1;
    min-height: 300px;
}

#input {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

[is = sparql-textarea] + textarea {
    display: none;
    border-top: none
}

[is = sparql-textarea].valid {
    background-color: #eeffee
}

[is = sparql-textarea].invalid + textarea {
    display: initial
}

[is = sparql-textarea].invalid {
    background-color: #ffeeee
}
