@media screen and (min-height : 800px) {
    sparql-editor textarea {
        height: 200px
    }

    sparql-editor span {
        height: 80px
    }
}

@media screen and (max-height : 800px) {
    sparql-editor textarea {
        height: 100px
    }

    sparql-editor span {
        height: 50px
    }
}

body {
    margin: 0;
    min-width: 320px;
}

app-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

    app-main blockly-canvas {
        flex-grow: 1;
        min-height: 300px;
    }

        app-main blockly-canvas div.injectionDiv {
            min-width: 300px;
            min-height: 300px;
        }

    app-main sparql-editor {
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

        app-main sparql-editor textarea:placeholder-shown {
            text-align: center;
            font-size: 250%;
        }

        app-main sparql-editor span {
            font-family: monospace;
            display: none;
            border: 1px solid;
            border-top: none;
            overflow: auto;
        }

        app-main sparql-editor.valid textarea {
            background-color: #eeffee;
        }

        app-main sparql-editor.invalid textarea {
            background-color: #ffeeee;
        }

        app-main sparql-editor.invalid span {
            display: initial;
        }
