:root {
    --pm: 10px;
    --b: 1px solid;
}

@media screen and (min-height : 800px) {
    sparql-editor textarea {
        height: 200px;
    }

    sparql-editor span {
        height: 80px;
    }
}

@media screen and (max-height : 800px) {
    sparql-editor textarea {
        height: 100px;
    }

    sparql-editor span {
        height: 50px;
    }
}

body {
    font-family: sans-serif;
    margin: unset;
    min-width: 300px;
}

app-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

    app-main blockly-canvas {
        flex-grow: 1;
        min-height: 300px;
    }

        app-main blockly-canvas div.injectionDiv {
            min-width: 300px;
            min-height: 300px;
        }

    app-main sparql-editor {
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        margin: var(--pm);
    }

        app-main sparql-editor textarea {
            font-family: monospace;
            border: var(--b);
            outline: none;
            padding: var(--pm);
        }

            app-main sparql-editor textarea:placeholder-shown {
                text-align: center;
                font-size: 2em;
            }

        app-main sparql-editor span {
            font-family: monospace;
            display: none;
            border: var(--b);
            border-top: none;
            overflow: auto;
            padding: var(--pm);
        }

        app-main sparql-editor.valid textarea {
            background-color: #eeffee;
        }

        app-main sparql-editor.invalid textarea {
            background-color: #ffeeee;
        }

        app-main sparql-editor.invalid span {
            display: initial;
        }


details {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    margin: var(--pm);
    padding: var(--pm);
}

    details > section {
        margin: var(--pm);
        padding: var(--pm);
        border: var(--b);
        background: #f8f8f8;
        overflow: auto;
        max-height: 80vh;
        max-width: 20em;
    }

        details > section > aside {
            float: right;
            text-align: end;
        }

    details > summary {
        user-select: none;
        cursor: pointer;
        outline: none;
        list-style: none;
        text-align: end;
    }

        details > summary::-webkit-details-marker {
            display: none;
        }

        details > summary > .open {
            display: none;
        }

    details[open] > summary > .open {
        display: initial;
    }

    details[open] > summary > .closed {
        display: none;
    }
